$("#comment_list").append('<li class="list-group-item" id="<%="comment_#{@comment.id}"%>"> <span class="badge"><%= link_to "Remove", @comment,method: "delete",remote: true %></span><%= @comment.body %></li>');
$(".comment_body").val("");
