<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Refrence:</strong>
  <%= @comment.refrence %>
</p>

<p>
  <strong>Refrence:</strong>
  <%= @comment.refrence %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @comment.parent %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
